<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChilliSource.Mobile.Core" version="1.0.0" targetFramework="monoandroid71" />
  <package id="Mindscape.Raygun4Net" version="5.4.1" targetFramework="monoandroid70" />
  <package id="Serilog" version="1.5.14" targetFramework="monoandroid71" />
</packages>